<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{administrativo/fragments/layout}">
<head>
  <title>Página lista de Produtos da loja virtual</title>
</head>
<body>
<section class="layout-content" layout:fragment="corpo">
  <nav class="navbar navbar-expand-md .bg-light">
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active"><i class="oi oi-caret-right"></i>
          <span>Lista de Produtos</span></li>
      </ul>
      <a class="btn btn-primary btn-md ms-5"
         href="/administrativo/produtos/cadastro" role="button"> <span
              class="oi oi-plus" title="Cadastro" aria-hidden="true"></span> <span>Cadastrar
						Produto</span>
      </a>
    </div>
  </nav>

  <div class="container">

    <div class="table-responsive">
      <table class="table table-striped table-hover table-sm">
        <thead>
        <tr>
          <th>#</th>
          <th>Descrição</th>
          <th>Quantidade em Estoque</th>
          <th>Valor de Venda</th>
          <th>Imagem</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="produto : ${listaProdutos}">
          <td th:text="${produto.id}"></td>
          <td th:text="${produto.descricao}"></td>
          <td th:text="${produto.quantidadeEstoque}"></td>
          <td th:text="${produto.valorVenda}"></td>
          <td> <img style="width:50px" th:src="${produto.urlImagem}"></td>


          <td colspan="2">
            <form  th:action="@{/administrativo/produtos/editar/{id}(id=${produto.id})}" role="button" th:method="PUT" >
             <button type="submit" class = "border-0"><iconify-icon icon="et:edit" width="20" height="20" title="Editar" aria-hidden="true"></iconify-icon></button>
            </form>

            <!-- Button trigger modal -->
            <a type="submit" data-bs-toggle="modal" th:data-bs-target="'#exampleModal' + ${produto.id}" >
              <iconify-icon icon="ei:trash" width="30" height="30" title="Remover" aria-hidden="true"></iconify-icon>
            </a>

            <!-- Modal -->
            <div class="modal fade" th:id="${'exampleModal'+ produto.id}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Certeza que deseja excluir?</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    Essa alteração não podera ser desfeita
                  </div>
                  <div class="modal-footer">
                    <form action="#" th:action="@{/administrativo/produtos/remover/{id}(id=${produto.id})}" th:method="delete" >
                      <input type="hidden" name="_method" value="delete" />
                      <button class= "btn btn-primary" type="submit" id="submitButton"> Excluir</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>


</body>
</html>