<!DOCTYPE html>
<html lang="en" xmlns:th=http://www.thymeleaf.org
      xmlns:sec=http://www.thymeleaf.org/extras/spring-security
      xmlns:shiro=http://www.pollix.at/thymeleaf/shiro>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Grupo5 - Produtos</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico"/>
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/pagProdutos.css" rel="stylesheet"/>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/webjars/open-iconic/font/css/open-iconic-bootstrap.min.css"
          rel="stylesheet" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/image/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/image/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <style>
    body {
      font-family: 'Roboto', sans-serif;
    }

  .filtro{
        box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
        margin:3px;
        height:60px;
  }

  .filtro:hover{
    box-shadow: 0 5px 10px 0 rgb(60 64 67 / 60%), 0 1px 3px 1px rgb(60 64 67 / 30%);
    margin:2px;
  }
  </style>

</head>
<body>
<!-- Navigation-->
<nav th:replace="/components/navbar :: nav_bar"></nav>
<!-- Header-->
<header class = "container-xl mt-2" >
    <div id="carouselExampleIndicators2" class="carousel slide mb-2" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators2" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators2" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators2" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100"  th:src="@{/image/banner_mio_3.png}" alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" th:src="@{/image/banner_mio_4.png}" alt="Second slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="..." alt="Third slide">
            </div>
        </div>
    </div>
</header>


<section class="py-1">
    <div class="container-xxl px-4 px-lg-5 mt-2">
        <div class=row>

            <div class="col-2">
                <ul class="list-group">
                    <a class="filtro btn list-group-item d-flex align-items-center justify-content-center text-secondary fw-bolder" type="button" href="/produtos/nossas">
                        Nossas Marcas
                    </a>
                    <a class="filtro btn list-group-item d-flex align-items-center justify-content-center text-secondary fw-bolder" type="button" href="/produtos/higiene">
                        Higiene
                    </a>
                    <a class="filtro btn list-group-item d-flex align-items-center justify-content-center text-secondary fw-bolder" type="button" href="/produtos/beleza">
                        Beleza
                    </a>
                    <a class="filtro btn list-group-item d-flex align-items-center justify-content-center text-secondary fw-bolder" type="button" href="/produtos/saude">
                        Cuidado Saúde
                    </a>
                    <a class="filtro btn list-group-item d-flex align-items-center justify-content-center text-secondary fw-bolder" type="button" href="/produtos/destaque">
                        Destaques Semana
                    </a>
                    <a class="filtro btn list-group-item d-flex align-items-center justify-content-center text-secondary fw-bolder" type="button" href="/produtos/maisnossas">
                        + Nossas Marcas
                    </a>
                    <a class="filtro btn list-group-item d-flex align-items-center justify-content-center text-secondary fw-bolder" type="button" href="/produtos">
                        Todos
                    </a>
                    <a class="filtro btn btn-danger  d-flex align-items-center justify-content-center" type="button" href="/cliente/carrinho">
                        Carrinho
                        <i class="bi-cart-fill me-1"></i>
                    </a>
                </ul>
            </div>
            <div class="col-10">
                <div id="carouselExampleIndicators" class="carousel slide mb-2" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100"  th:src="@{/image/bannerProd1.gif}" alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="..." alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="..." alt="Third slide">
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <nav class="navbar navbar-light bg-light col-12 align-items-center justify-content-center">
                        <form class="form-inline d-flex flex-row justify-content-around" th:action="@{produtos/pesquisarnome}" th:method="POST" >
                            <input name="nomepesquisa" class="form-control mr-sm-2" type="search" placeholder="Pesquise por nome" aria-label="Pesquisar">
                            <button class="btn btn-outline-primary my-2 my-sm-0" style="margin-left:25px" type="submit">Pesquisar</button>
                        </form>
                    </nav>
                </div>
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <div class="col mb-5"  th:each="produto : ${listaProdutos}">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
                                Sale
                            </div>
                            <!-- Product image-->
                            <img class="card-img-top rounded mx-auto d-block" style="width:150px" th:src="${produto.urlImagem}" alt="..."/>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder" th:text="${produto.nome}"></h5>
                                    <!-- Product reviews-->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    <!-- Product price-->
                                    <span class="text-muted text-decoration-line-through" th:text="'R$ ' + ${produto.valorCheio}">R$100.00</span>
                                    <p th:text="'R$ ' + ${produto.valorVenda}"> </p>
                                </div>
                            </div>

                            <div class="container d-flex flex-row justify-content-around  align-items-center">

                                    <form class="card-footer p-1 pt-0 border-top-0 bg-transparent ">

                                        <button type="button" class="btn btn-outline-dark mt-auto" href="#" data-bs-toggle="modal" th:data-bs-target="'#form' + ${produto.id}">
                                            <iconify-icon icon="bi:cart-plus" width="20" height="20"></iconify-icon>
                                        </button>
                                    </form>
                                    <form class="card-footer p-1 pt-0 border-top-0 bg-transparent ">
                                        <button type="button" class="btn btn-outline-dark mt-auto" href="#" data-bs-toggle="modal" th:data-bs-target="'#detalhes' + ${produto.id}">
                                            <iconify-icon icon="icomoon-free:eye-plus" width="20" height="20"></iconify-icon>
                                        </button>
                                    </form>

                                <div class="modal fade" th:id="${'detalhes' + produto.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle">Descrição do produto</h5>
                                            </div>
                                            <div class="modal-body">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-6">
                                                <img th:src="${produto.urlImagem}" style="width:200px" />
                                                <h5 class="alert alert-primary" style="padding:10px">Nome Produto:</h5>
                                                <span class="fw-normal" th:text="${produto.nome}"></span>
                                                <h5 class="alert alert-primary">Valor:</h5>
                                                <span class="fw-normal " th:text="'R$ ' + ${produto.valorVenda}"></span>
                                                <h5 class="alert alert-primary">Marca:</h5>
                                                <span class="fw-normal"  th:text="${produto.marca}"></span>

                                                        </div>
                                                        <div class="col-6">
                                                            <h5 class="alert alert-primary">Descrição:</h5>
                                                            <span class="fw-normal " th:text="${produto.descricao}"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal fade container" th:id="${'form' + produto.id}"  tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header alert alert-danger">
                                                <h1 class="modal-title fs-5 " id="exampleModalLabel">Você quer add esse produto ao seu carrinho?</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="card">
                                                    <img th:src="${produto.urlImagem}" class="card-img-top col align-self-center" style="width:200px" alt="..."/>
                                                    <div class="card-body ">
                                                        <form th:action="@{/cliente/carrinho/comprar/{id}(id=${produto.id})}" th:method="POST">
                                                            <input type="hidden" name = "id" th:value ="${produto.id}" />
                                                            <button type="submit"  class="btn btn-outline-danger mt-2" > Add</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Grupo 5 2022</p></div>
</footer>

<script th:inline="javascript">
function mouseOverH() {
  document.getElementById("tagH").style.fontSize= "0px";
  document.getElementById("tagHi").style.fontSize= "20px";
}
function mouseOutH(){
    document.getElementById("tagH").style.fontSize= "14px";
    document.getElementById("tagHi").style.fontSize= "14px";
}

function mouseOverP() {
   document.getElementById("tagP").style.fontSize= "0px";
  document.getElementById("tagPi").style.fontSize= "20px";
}
function mouseOutP(){
        document.getElementById("tagP").style.fontSize= "14px";
    document.getElementById("tagPi").style.fontSize= "14px";
}

function mouseOverC() {
   document.getElementById("tagC").style.fontSize= "0px";
  document.getElementById("tagCi").style.fontSize= "20px";
}
function mouseOutC(){
        document.getElementById("tagC").style.fontSize= "14px";
    document.getElementById("tagCi").style.fontSize= "14px";
}

function mouseOverCa() {
   document.getElementById("tagCa").style.fontSize= "0px";
  document.getElementById("tagCai").style.fontSize= "20px";
}
function mouseOutCa(){
        document.getElementById("tagCa").style.fontSize= "14px";
    document.getElementById("tagCai").style.fontSize= "14px";
}

</script>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
<script src="https://code.iconify.design/iconify-icon/1.0.0/iconify-icon.min.js"></script>
</body>
</html>
