<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{administrativo/fragments/layout}">
<head>
	<title>Lista de Funcionarios</title>
</head>
<body>
	    <section class="layout-content"  layout:fragment="corpo">
			<div class="container">
				<div class="row">
					<div class="col-3">
					<img class="img-thumbnail" style="width:150px; height:150px" th:src="@{/image/matheus.jfif}">
					</div>
					<div class="col-4">
						<div class="row">
							<p>Nome: </p>
							<span>Matheus Andrade</span>
							<p>Linkedin:</p>
							<a href="https://www.linkedin.com/in/matheus-andrad3/" style="text-decoration: none;"><span>www.linkedin.com/in/matheus-andrad3/</span></a>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-3">
					<img class="img-thumbnail" style="width:150px; height:150px" th:src="@{/image/paulo.jfif}">
					</div>
					<div class="col-4">
						<div class="row">
							<p>Nome: </p>
							<span>Paulo Henrique</span>
							<p>Linkedin:</p>
							<a href="https://www.linkedin.com/in/paulo-henrique-408204a5/" style="text-decoration: none;"><span>www.linkedin.com/in/paulo-henrique-408204a5/</span></a>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-3">
						<img class="img-thumbnail" style="width:150px; height:150px" th:src="@{/image/otavio.jfif}">
					</div>
					<div class="col-4">
						<div class="row">
							<p>Nome: </p>
							<span>Otávio Luiz</span>
							<p>Linkedin:</p>
							<a href="https://www.linkedin.com/in/otavio-dasilva/" style="text-decoration: none;"><span>www.linkedin.com/in/otavio-dasilva/</span></a>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-3">
						<img class="img-thumbnail" style="width:150px; height:150px" th:src="@{/image/rafa.jfif}">
					</div>
					<div class="col-4">
						<div class="row">
							<p>Nome: </p>
							<span>Rafael Figueiredo</span>
							<p>Linkedin:</p>
							<a href="https://www.linkedin.com/in/rafaelfigueiredo8/" style="text-decoration: none;"><span>www.linkedin.com/in/rafaelfigueiredo8/</span></a>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-3">
						<img class="img-thumbnail" style="width:150px; height:150px" th:src="@{/image/gabriel.jfif}">
					</div>
					<div class="col-4">
						<div class="row">
							<p>Nome: </p>
							<span>Gabryel Araujo</span>
							<p>Linkedin:</p>
							<a href="https://www.linkedin.com/in/gabryel-araujo/" style="text-decoration: none;"><span>www.linkedin.com/in/gabryel-araujo/</span></a>
						</div>
					</div>
				</div>

			</div>
	    </section>
</body>
</html>		